<div class="container">
  <div id="<%= dom_id contract %>">

    <p>
      <strong>Name:</strong>
      <%= contract.name %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= contract.status %>
    </p>

    <p>
      <strong>Subject:</strong>
      <%= contract.subject %>
    </p>

    <h5>Standard forms:</h5>

    <%= simple_form_for contract, method: :PATCH, remote: true do |g| %>
        <%= g.select :form_key_value, @forms %>
        <%= g.submit "ok" %>
    <% end %>

    <%= simple_form_for :form_contract_field, url: values_form_contract_path(contract), method: :PATCH, remote: true do |f| %>
        <% Form.find_by_form_key(contract.form_key_value).form_fields.each do |form_field| %>
          <% if form_field.field.field_type == "string" || form_field.field.field_type == "integer" %>
            <%=
              f.input form_field.field.name,
              as: form_field.field.field_type,
              label: JSON.parse(form_field.settings)["label"],
              placeholder: JSON.parse(form_field.settings)["placeholder"],
              input_html: { required: JSON.parse(form_field.settings)["required"] }
            %>
          <% else %>
            <%=
              f.input form_field.field.name,
              label: JSON.parse(form_field.settings)["label"],
              as: form_field.field.field_type,
              collection: JSON.parse(form_field.settings)["value"],
              wrapper: :vertical_collection_inline,
              input_html: { required: JSON.parse(form_field.settings)["required"], 
                            multiple: JSON.parse(form_field.settings)["multiple"] 
                          }
            %>
          <% end %>
        <% end %>
        <%= f.submit "Save", class: "btn btn-primary px-5 my-3" %>
    <% end %>


  </div>
</div>








