<div id="<%= dom_id form_field %>">

  <p>
    <strong>Field name:</strong>
    <%= form_field.field.name %>
  </p>

  <p>
    <strong>form_key:</strong>
    <%= form_field.key_entity %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= form_field.level %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= form_field.settings %>
  </p>

</div>
