<%= simple_form_for @form_field do |form| %>
  <% if form_field.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form_field.errors.count, "error") %> prohibited this form_field from being saved:</h2>

      <ul>
        <% form_field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= @form_field.field.name %>
  </div>


  <div>
    <%= form.input :key_entity %>
  </div>

  <div>
    <%= form.input :level %>
  </div>

  <div>
    <%= form.input :settings %>
  </div>

  <div>
    <%= form.select :field_id, options_for_select(Field.all.collect { | field | [field.name, field.id] }, @form_field.id), {}, {} %>
  </div>

  <div>
    <%= form.select :form_id, options_for_select(Form.all.collect { | form | [form.name, form.id] }, @form_field.id), {}, {}  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
