<div id="<%= dom_id form_contract_value %>">
  <p>
    <strong>Values:</strong>
    <%= form_contract_value.values %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= form_contract_value.contract_id %>
  </p>

</div>
