<%= form_with(model: form_contract_value) do |form| %>
  <% if form_contract_value.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form_contract_value.errors.count, "error") %> prohibited this form_contract_value from being saved:</h2>

      <ul>
        <% form_contract_value.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :values, style: "display: block" %>
    <%= form.text_field :values %>
  </div>

  <div>
    <%= form.label :contract_id, style: "display: block" %>
    <%= form.text_field :contract_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
