<h1>Editing form contract value</h1>

<%= render "form", form_contract_value: @form_contract_value %>

<br>

<div>
  <%= link_to "Show this form contract value", @form_contract_value %> |
  <%= link_to "Back to form contract values", form_contract_values_path %>
</div>
