<p style="color: green"><%= notice %></p>

<h1>Form contract values</h1>

<div id="form_contract_values">
  <% @form_contract_values.each do |form_contract_value| %>
    <%= render form_contract_value %>
    <p>
      <%= link_to "Show this form contract value", form_contract_value %>
    </p>
  <% end %>
</div>

<%= link_to "New form contract value", new_form_contract_value_path %>
