<p style="color: green"><%= notice %></p>

<%= render @form_contract_value %>

<div>
  <%= link_to "Edit this form contract value", edit_form_contract_value_path(@form_contract_value) %> |
  <%= link_to "Back to form contract values", form_contract_values_path %>

  <%= button_to "Destroy this form contract value", @form_contract_value, method: :delete %>
</div>
