<h1>New form</h1>
<%= form_with(model: @form) do |form| %>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :form_key, style: "display: block" %>
    <%= form.text_field :form_key %>
  </div>

  <div>
    <%= form.label :settings, style: "display: block" %>
    <%= form.text_field :settings %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to forms", forms_path %>
</div>


