<div class="container">

  <p style="color: green"><%= notice %></p>

  <%= render @form %>

  <% @form.form_fields.each do |form_field| %>
    <%= simple_form_for :form_field, url: form_field_path(form_field), method: :patch, remote: true do |g| %>
      <div style="display: flex !important;">
        <div class="mx-5"><%= form_field.field.name %></div>
        <div><%= g.input :key_entity, input_html: { value: form_field.key_entity } %></div>    
        <div><%= g.input :settings, input_html: { value: form_field.settings } %></div>  
        <div><%= g.button :submit, class: "btn btn-primary" %>
      </div> 
     
    <% end %>
    <%= button_to "Destroy this form field", form_field, method: :delete %>
     </div>  
  <% end %>

  <%= simple_form_for @form_field do |form| %>

            <div>
              <%= form.input :key_entity %>
            </div>

            <div>
              <%= form.input :settings %>
            </div>

            <div>
              <%= form.select :field_id, options_for_select(Field.all.collect { | field | [field.name, field.id] }, @form.id) %>
            </div>

            <div>
              <%= form.input :form_id, as: :hidden, input_html: {value: @form.id } %>
            </div>
            
            <div>
              <%= form.submit %>
            </div>
      <% end %>
    </div>
  </div>
</div>
  <div>
    <%= link_to "Edit this form", edit_form_path(@form) %> |
    <%= link_to "Back to forms", forms_path %>

    <%= button_to "Destroy this form", @form, method: :delete %>
  </div>
</div>