<!DOCTYPE html>
<html>
  <head>
    <title>FormBuilderContract</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="topnav">
    <a class="active" href="/contracts">Contracts</a>
    <a href="/forms">Forms</a>
    <a href="/fields">Fields</a>
    <a href="/form_fields">Form fields</a>
    <a href="/form_contract_values">Form contract values</a>
    </div>

    <div class="container" style="padding-left:16px">
       <%= yield %>
    </div>
   
  </body>
</html>
